<div class="users">
  <div class="control-panel">
    <form>
      <label class="select">Select column to filter:
        <select (change)="changeOption($event.target.value)">
          <option *ngFor="let opt of options" [value]="opt.value">{{ opt.text }}</option>
        </select>
      </label>
      <label class="input">Enter filter keywords:
        <input type="text" placeholder="filter keywords go here..." (input)="filters($event.target.value)" />
      </label>
    </form>
  </div>
  <div class="users-list-wrapper">
    <table class="users-list">
      <thead>
        <tr>
          <th>Name</th>
          <th>User Name</th>
          <th>E-mail</th>
          <th>Phone</th>
          <th>Website</th>
        </tr>
      </thead>
      <tbody *ngFor="let item of usersList;let i = index">
        <tr>
          <td>{{item.name}}</td>
          <td>{{item.username}}</td>
          <td>{{item.email}}</td>
          <td>{{item.phone}}</td>
          <td>{{item.website}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div> 
